:root {
  /* fonts */
  --font-gt-walsheim-pro: "GT Walsheim Pro";

  /* font sizes */
  --font-size-3xs: 14px;
  --font-size-2xs: 15px;
  --font-size-xs: 16px;
  --font-size-sm: 18px;
  --font-size-base: 20px;
  --font-size-lg: 22px;
  --font-size-xl: 25px;
  --font-size-2xl: 30px;
  --font-size-3xl: 50px;

  /* Colors */
  --color-white: #fff;
  --color-brown-100: #f26b5b;
  --color-brown-200: #fa5959;
  --color-gray-100: #c4c4c4;
  --color-gray-200: #444053;

  /* border radiuses */
  --br-sm: 5px;
  --br-md: 10px;
}
